<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870582138443-7ubnbk6v4vk6gqebqsu8k9r29f9nk3t6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870582138443-7ubnbk6v4vk6gqebqsu8k9r29f9nk3t6</string>
	<key>API_KEY</key>
	<string>AIzaSyCBvxHnXCPtqGkqcHBwBGeGnFAkAfwRN4U</string>
	<key>GCM_SENDER_ID</key>
	<string>870582138443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JW.AuthFirebase</string>
	<key>PROJECT_ID</key>
	<string>mytest-d1b5d</string>
	<key>STORAGE_BUCKET</key>
	<string>mytest-d1b5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870582138443:ios:e96c9b91d541d24076ffce</string>
	<key>DATABASE_URL</key>
	<string>https://mytest-d1b5d.firebaseio.com</string>
</dict>
</plist>